---
export async function getStaticPaths() {
  const locales = ["en", "de"];
  return locales.map((locale) => ({
    params: { locale },
  }));
}

import "../../styles/global.css";
import Nav from "../../components/nav.astro";
import RichText from "../../components/richtText.astro";
import Grid from "../../components/grid.astro";
import GridCard from "../../components/gridCard.astro"; // Import the card
import { payload } from "../../utils";
import Layout from "../../components/layout.astro";

interface Params {
  locale: "en" | "de";
}
const { locale } = Astro.params as Params;

// Fetch Global Swing Data
const cnt = await payload.findGlobal({
  slug: "swing",
  locale: locale,
});

const dancesResponse = await payload.find({
  collection: "dances",
  locale: locale,
  limit: 100,
});
const dances = dancesResponse.docs || [];
const order = ["Lindy", "Balboa", "Charleston", "Blues", "Shag", "Solo", "Tap"];

// Sort the dances array based on the index of the shortName in the order array
const sortedDances = dances.sort((a, b) => {
  return order.indexOf(a.shortName) - order.indexOf(b.shortName);
});

// Fetch Schools Collection Data
const schoolsResponse = await payload.find({
  collection: "schools",
  locale: locale,
  limit: 100,
});
const schools = schoolsResponse.docs || [];
---

<Layout locale={locale}>
  <h2>
    {cnt.title}
  </h2>
  <div class="page-content">
    <RichText content={cnt.whatIsSwing} />
  </div>

  {/* --- GRID 1: DANCES --- */}
  {
    sortedDances.length > 0 && (
      <Grid>
        {dances.map((dance) => (
          // Add the id attribute here
          <GridCard title={dance.name} id={dance.shortName?.toLowerCase()}>
            <RichText
              style="white-space: pre-line; text-align: justify; margin: 0;"
              content={dance.description}
            />
          </GridCard>
        ))}
      </Grid>
    )
  }
  <div class="page-content">
    <RichText content={cnt.howToLearn} />
  </div>

  {/* --- GRID 2: SCHOOLS --- */}
  {
    schools.length > 0 && (
      <>
        <Grid>
          {schools.map((school) => (
            <GridCard title={school.name} id={school.name.replaceAll(' ').toLocaleLowerCase()}>
              <div style="text-align: justify;">
                <RichText content={school.description} />
                {school.website && (
                  <p style="margin-top: 10px; margin-bottom: 0;">
                    <a
                      href={school.website}
                      target="_blank"
                      rel="noopener noreferrer">
                      Visit Website →
                    </a>
                  </p>
                )}
              </div>
            </GridCard>
          ))}
        </Grid>
      </>
    )
  }
</Layout>
