---
import type { School, Class } from "../../cms/src/payload-types.ts";
import { decodeAddress } from '../utils.ts'

interface Props {
  classs: Class;
}
const { classs: clazz } = Astro.props as Props;

const school = (clazz.school as School) || { name: "" };
const address = decodeAddress(clazz.address);

const danceTags =
  clazz.dances && clazz.dances.length > 0
    ? clazz.dances.map((dance) =>
        typeof dance === "string" ? dance : dance.shortName,
      )
    : [clazz.title];

// ID formatting to match: school.name.replaceAll(" ", "").toLocaleLowerCase()
const schoolSlug = school.name ? school.name.replaceAll(" ", "").toLocaleLowerCase() : "";
const schoolHref = `/${Astro.currentLocale}/schools#${schoolSlug}`;
---

<div class="listing-item">
  <div class="listing-tags-wrapper">
    {
      danceTags.map((tag) => {
        const slug = typeof tag === "string" ? tag : tag.shortName;
        const href = `/${Astro.currentLocale}/swing#${slug.replace(/\s+/g, "-").toLowerCase()}`;

        return (
          <a href={href} class="listing-tag">
            {tag}
          </a>
        );
      })
    }
  </div>

  <div class="listing-details">
    <span class="listing-school">
      {school.name ? (
        <a href={schoolHref} class="school-link">
          {school.name}
        </a>
      ) : (
        ""
      )}
    </span>
    
    <span class="listing-address">
      <a href={"http://maps.google.com/?q=" + clazz.address} target="_blank" rel="noopener noreferrer">
        {address.street} {address.num}, 
        {address.quarter}
      </a>
    </span>
    {clazz.cancelled && <span class="cancelled-text">{clazz.cancelled}</span>}
  </div>
</div>

<style>
  .listing-item {
    display: grid;
    grid-template-columns: .3fr 1fr;
    gap: 20px;
    padding: 16px 0;
    border-bottom: 2px dotted var(--text-muted);
    align-items: start; 
  }

  .listing-item:last-child {
    border-bottom: none;
  }

  .listing-tags-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
  }

  .listing-details {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }

  /* Applied the Header Nav behavior here */
  .listing-school {
    font-weight: 700;
    font-size: var(--font-emph);
    color: var(--text-main);
  }

  .school-link {
    text-align: left;
    color: inherit;
    text-decoration: none;
    transition: text-decoration 0.2s ease, opacity 0.2s ease;
  }

  .school-link:hover {
    text-decoration: underline;
  }

  .listing-address {
    font-size: var(--font-desc);
    color: var(--text-main);
    text-align: left;
  }


  .listing-address a {
    font-size: var(--font-desc);
    color: var(--text-main);
    text-decoration: none;
  }


  .cancelled-text {
    color: darkred;
  }
</style>